[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/linenoise"]
	path = ThirdParty/linenoise
	url = https://github.com/antirez/linenoise.git
