[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/libpng"]
	path = ThirdParty/libpng
	url = https://github.com/glennrp/libpng.git
	branch = libpng16
